<h1>Pedidos</h1>

<form method="POST" action="/orders">

    <select name="clientId">

        <% clients.forEach(c=> { %>
            <option value="<%= c.id %>">
                <%= c.name %>
            </option>

            <% }) %>

    </select>

    <select name="vehicleId">

        <% vehicles.forEach(v=> { %>
            <option value="<%= v.id %>">
                <%= v.brand %>
                    <%= v.model %>
            </option>

            <% }) %>

    </select>

    <button>Criar Pedido</button>

</form>

<ul>

    <% orders.forEach(o=> { %>
        <li>
            Pedido <%= o.id %>
        </li>
        <% }) %>

</ul>